@medie only screen and(max-width: 1100) {
  .wrapper {
    width: 90%
  }
  #social {
    position: absolute;
    width: auto;
    top: 82px;
    right: 4px;
  }

}

@media only and (max-width: 900) {
 body{
   font-size: 85%
 }

 #logo h1{
   height: 35px;
   width: 35px;
 }

 #logo h2{
     font: 2.2em "Clicker Script", cursive;
 }

 #social{
   top:72px;
 }


}
